COSMOS_ENDPOINT="http://localhost:8081"
COSMOS_KEY="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="

OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"  # OTLP endpoint exposed by Aspire
OTEL_EXPORTER_OTLP_PROTOCOL="grpc"                   # Aspire requires gRPC protocol
OTEL_SERVICE_NAME="Api"                # Unique name for your service (e.g., "api", "frontend")
OTEL_RESOURCE_ATTRIBUTES="deployment.environment=dev"  # Add metadata for filtering in the dashboard
